@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* Variable Declarations */
:root {
   --blue: #2980b9;
   --red: rgb(255, 0, 0);
   --orange: orange;
   --black: #333;
   --white: #fff;
   --bg-color: #eee;
   --dark-bg: rgba(0, 0, 0, .7);
   --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
   --border: .1rem solid #999;
}


.product img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  object-fit: cover;
}


.nav-buttons {
  margin-left: 60%;
}

.navbar-buttons {
  margin-left: 40%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;   
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
h2 {
  font-size: 1.8rem;
  font-weight: 600;
}
h3 {
  font-size: 1.5rem;
  font-weight: 800;
}
h4 {
  font-size: 1.2rem;
  font-weight: 600;
}
h5 {
  font-size: 1.5rem;
  font-weight: bold;
}
h6 {
  color: #d8d8d8;
}

.logo{
  margin-left: 7px;
}

.nav-item a i {
  font-size: 18px; /* Adjust the size as needed */
  margin-right: 18px;
}

.navbar {
  font-size: 16px;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  top: 0;
  left: 0;
}

.add-shadow {
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.2) !important; /* Horizontal offset, vertical offset, blur radius, color */
}


.navbar-light .navbar-nav .nav-link {
  padding: 0 20px;
  color: #000;
  transition: o.4s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i:hover {
  color: #50c1ee;
}

.navbar i {
  font-size: 1.2rem;
  padding: 0 0.7px;
  transition: 0.4s ease;
  cursor: pointer;
  margin-left: 5px;
}

@media only screen and (max-width: 990px) {
  .nav-buttons {
    margin: 10px;
  }
  .nav-buttons ul {
    margin: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
  .nav-buttons ul .fas {
    margin: 20px 5px 10px 20 px;
  }
}

button:hover {
  background-color: #50c1ee;
}

#home {
  background-image: url(../images/back1.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#home span {
  color: #50c1ee;
}

#new .one img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#new .one {
  position: relative;
}

#new .one .details {
  position: absolute;
  top: 0;
  left: 0;
  color: burlywood;
  font-weight: bold;
  transition: 0.4s ease;
  opacity: 0.8;
  background-color: rgb(1, 1, 1);
  width: 100%;
  height: 100%;
}

#new .one .details:hover {
  background-color: #4f5355;
}

#new .one:nth-child(1) .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#new .one:nth-child(2) .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#new .one:nth-child(3) .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* product */

.product {
  cursor: pointer;
  margin-bottom: 2rem;
}

.product img {
  transition: 0.4s all;
  border-radius: 20px;
}

.product:hover img {
  opacity: 0.7;
}

.product .buy-btn {
  background-color: #50c1ee;
  transform: translateY(50px);
  opacity: 0;
  transition: 0.3s all;
}

.product:hover .buy-btn {
  transform: translateY(0px);
  opacity: 1;
}

hr {
  width: 30px;
  height: 3px !important;
  opacity: 1 !important;
  background-color: #50c1ee;
}

.star {
  padding: 10px 0;
}

.star i {
  font-size: 0.9rem;
  color: gold;
}

#banner {
  background-image: url(../images/back.jpg);
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#banner h1 {
  color: #50c1ee;
}

#banner button {
  color: #fff;
  background-color: #1d1d1d;
}

#banner button:hover {
  background-color: #50c1ee;
}

footer {
  background-color: #1d1d1d;
}

footer h5 {
  color: #d8d8d8;
  font-weight: 700;
  font-size: 1.2rem;
}

footer li {
  padding-bottom: 4px;
}

footer li a {
  font-size: 0.8rem;
  color: #d8d8d8;
  text-decoration: none;
}

footer li a:hover {
  color: #50c1ee;
}

footer .copyright a {
  color: #000;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  transition: 0.3s ease;
  margin: 0 5px;
}

footer .copyright a:hover {
  color: #ffffff;
  background-color: #50c1ee;
}

footer p {
  color: #ffffff;
}

footer .copyright img {
  width: 40%;
}

.logo {
  width: 40px;
  height: 40px;
}

.navbar .brand {
  color: #1d1d1d;
  margin: 3px 5px;
  font-size: 1.5rem;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

/* Cart */

.cart table {
  width: 100%;
  border-collapse: collapse;
}

.cart .product-info {
  display: flex;
  flex-wrap: wrap;
}

.cart th {
  text-align: left;
  padding: 5px 10px;
  color: #fff;
  background-color: #50c1ee;
}

.cart td {
  padding: 10px 20px;
}

.cart td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.cart td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

.cart td a {
  color: #50c1ee;
}

.cart .remove-btn {
  color: #50c1ee;
  text-decoration: none;
  font-size: 14px;
  background-color: #fff;
  border: none;
  width: 100%;
}

.cart .edit-btn {
  color: #50c1ee;
  text-decoration: none;
  font-size: 15px;
  background-color: #fff;
  border: none;
  width: 100%;
}

.cart .product-info p {
  margin: 3px;
}

.cart-total {
  display: flex;
  justify-content: flex-end;
}

.cart-total table {
  width: 100%;
  max-width: 500px;
  border-top: 3px solid #50c1ee;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

.checkout-container {
  display: flex;
  justify-content: flex-end;
}

.checkout-btn {
  background-color: #50c1ee;
  color: #fff;
}

.checkout-btn:hover {
  background-color: #fff;
  color: #50c1ee;
}

/* Login */

#login-form {
  width: 50%;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #50c1ee;
}

#login-form label {
font-size: 20px;

}

#login-form input {
  width: 60%;
  margin: 6px auto;
  font-size: 16px;
  border-radius: 7px ;
}

#login-form #login-btn {
  background-color: #50c1ee;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 15px;
}

#login-form #register-url {
  color: #50c1ee;
}

/* Register */
#register-form {
  width: 50%;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #50c1ee;
}

#register-form input {
  width: 50%;
  margin: 5px auto;
}

#register-form #register-btn {
  background-color: #50c1ee;
  color: #fff;
}

#register-form #login-url {
  color: #50c1ee;
}

/* Account */

#account-form {
  width: 50%;
  margin: 35px auto;
  text-align: center;
  padding: 20px;
}

#account-form input {
  margin: 5px auto;
}

#account-form #change-password-btn {
  color: #fff;
  background-color: #50c1ee;
}

.account-info #orders-btn,
#logout-btn {
  color: #50c1ee;
  text-decoration: none;
}

/*Orders*/
.orders table {
  width: 100%;
  border-collapse: collapse;
}

.orders .product-info {
  display: flex;
  flex-wrap: wrap;
}

.orders th {
  text-align: left;
  padding: 5px 10px;
  color: #fff;
  background-color: #50c1ee;
  text-align: left;
}

.orders th:nth-child(2) {
  text-align: right;
}

.orders td {
  padding: 10px 20px;
}

.orders td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

/* Checkout */
#checkout-form .checkout-small-element {
  display: inline-block;
  width: 48%;
  margin: 10px auto;
}

#chechout-form .checkout-large-element {
  max-width: 95;
}

#checkout-form .checkout-btn-container {
  margin: 10px;
  text-align: right;
  margin-right: 40px;
}

#checkout-form #checkout_btn {
  color: #50c1ee;
  background-color: #fff;
}

/* Contact */
#contact span {
  color: aqua;
}

/*single prouct*/
.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.single-product input:focus {
  outline: none;
}

.single-product .buy-btn {
  background-color: #50c1ee;
  opacity: 1;
  transition: 0.4s all;
}

.single-product .buy-btn:hover {
  background-color: #6d6969;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}

.small-box {
  height: 120px;
  width: 300px;
  text-align: center;
  padding-top: 25px;
  margin-left: 400px;
}

.small-box .inner p {
  font-size: 16px;
  color: #333;
}

.heading {
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 2rem;
}

.buton{
  display: block;
  width: 20%;
  text-align: center;
  background-color: var(--blue);
  color: var(--white);
  font-size: 1.7rem;
  margin-left: 50rem;
  margin-bottom: 10px;
  padding: 1rem 3rem;
  border-radius: 1.5rem;
  cursor: pointer;
}

.bton,
.edit-product-btn,
.option-bton,
.delete-bton {
  display: block;
  width: 100%;
  text-align: center;
  background-color: var(--blue);
  color: var(--white);
  font-size: 1.7rem;
  padding: 1.2rem 3rem;
  border-radius: .5rem;
  cursor: pointer;
  margin-top: 1rem;
}

.bton:hover,
.edit-product-btn,
.option-bton:hover,
.delete-bton:hover {
  background-color: var(--black);
}

.option-bton i,
.edit-product-btn i,
.delete-bton i {
  padding-right: .5rem;
}

.option-bton, .edit-product-btn {
  background-color: #50c1ee;
}

.option-bton:hover, .edit-product-btn:hover {
  background-color: #3ba8d3;
}

.delete-bton {
  margin-top: 0;
  background-color: var(--red);
}

.delete-bton:hover {
  margin-top: 0;
  background-color: rgb(206, 6, 6);
}

.message {
  background-color: var(--blue);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10000;
  border-radius: .5rem;
  background-color: var(--white);
  padding: 1.5rem 2rem;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.message span {
  font-size: 2rem;
  color: var(--black);
}

.message i {
  font-size: 2.5rem;
  color: var(--black);
  cursor: pointer;
}

.message i:hover {
  color: var(--red);
}

.header {
  background: linear-gradient(to right, #f9c596 0%, #fc5d9d 100%);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

#menu-btn {
  margin-left: 2rem;
  font-size: 3rem;
  cursor: pointer;
  color: var(--white);
  display: none;
}

.add-product-form {
  max-width: 50rem;
  background-color: var(--bg-color);
  border-radius: 1rem;
  padding: 2rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 40px;
}

.add-product-form h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
}

.add-product-form .box {
  text-transform: none;
  padding: 1.2rem 1.4rem;
  font-size: 1.7rem;
  color: var(--black);
  border-radius: .5rem;
  background-color: var(--white);
  margin: 1rem 0;
  width: 100%;
}

.display-product-table table {
  width: 100%;
  text-align: center;
}

.display-product-table table thead th {
  padding: 1.5rem;
  font-size: 2rem;
  background-color: rgb(27, 26, 26);
  color: var(--white);
  text-align: center;
}

.display-product-table table td {
  padding: 1.5rem;
  font-size: 2rem;
  color: var(--black);
}

.display-product-table table td:first-child {
  padding: 0;
}

.display-product-table table tr:nth-child(even) {
  background-color: var(--bg-color);
}

.display-product-table .empty {
  margin-bottom: 2rem;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--black);
  font-size: 2rem;
  padding: 1.5rem;
}

.edit-form-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.edit-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 2rem;
  width: 50rem;
  max-width: 90%;
  font-size: 12px;
}

.edit-form h3 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 32px;
}

.image-container {
  text-align: center;
  margin-bottom: 1rem;
}

.image-container img {
  max-width: 100%;
  height: auto;
  max-height: 15rem;
  border-radius: 0.5rem;
}

.edit-form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.edit-form input[type="text"],
.edit-form input[type="number"],
.edit-form textarea,
.edit-form input[type="file"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons input[type="submit"],
.buttons input[type="button"] {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin: 5px;
  cursor: pointer;
}

.buttons input[type="submit"] {
  background-color: var(--blue);
  color: var(--white);
}

.buttons input[type="button"] {
  background-color: var(--red);
  color: var(--white);
}

.buttons input[type="submit"]:hover{
  background-color: #146ba5;
}

.buttons input[type="button"]:hover {
  background-color: rgb(218, 0, 0);
}

.opo{
margin-bottom: 100px;
}

.stop{
  margin-bottom: 70px;
  }

.font-weight-bold{
  font-size: 32px;
  margin-top: 40px;
}

.chear{
  font-size: 26px;
  margin-top: 15px;
}

label{
  font-size: 18px;
}

.tite{
  font-size: 22px;
}

p span{
  font-size: 22px;
}

.btn-rounded{
  margin-top: 5px;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgb(218, 0, 0);
}

.btn-rounded:hover{
  background-color: rgba(224, 28, 28, 0.897)
}

.form-control{
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 10px;
}

.btn-oblong{
  margin-top: 5px;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
}

.orders-btn{
  margin-top: 5px;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #22fd51;
  color: white;
}

.contact{
  margin-bottom: 250px;
}

.kontak{
  margin-top: 165px;
  font-size: 38px;
  margin-bottom: 20px;
}

.bonak{
  font-size: 18px;
}

.arrive{
  font-size: 38px;
  color: #000;
}

.text-white{
  margin-bottom: 120px;
  font-size: 16px;
}

.best{
  font-size: 46px;
  color: black;
}

.pamagat{
  font-size: 32px;
  margin-top: 20px;
}

.sell{
  font-size: 16px;
  margin-top: 16px;
}

.nika{
  font-size: 28px;
}

.buy-btn{
  font-size: 14px;
}

#long{
  margin-bottom: 400px;
}

.img-fluid{
  max-width: 500px;
}

.selos{
  font-size: 14px;
}

.selosa{
  font-size: 14px;
  font-weight: bold;
}

/* Style for toggle status buttons */
.toggle-status {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #4CAF50;
  color: var(--white);
  font-size: 1.7rem;
  padding: 1.2rem 3rem;
  border-radius: .5rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.toggle-status.deactivate {
  background-color: #f44336; /* Red for deactivate */
}

.toggle-status:hover {
  background-color: #45a049; /* Darker green on hover */
}

.toggle-status.deactivate:hover {
  background-color: #c41818; /* Darker red on hover */
}

.action-button{
  display: block;
  width: 100%;
  text-align: center;
  background-color: #4CAF50;
  color: var(--white);
  font-size: 9px;
  padding: 1rem 2.5rem;
  border-radius: .5rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

/* Custom CSS for the search bar */
.navbar form {
  margin-right: 20px; /* Adjust spacing */
}

.navbar input[type="search"] {
  width: 250px; /* Adjust width */
  padding: 3px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

.navbar input[type="search"]:focus {
  border-color: #66afe9;
  box-shadow: 0 0 5px #66afe9;
}

.navbar button[type="submit"] {
  background-color: #66afe9;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 3px 15px;
  cursor: pointer;
  font-size: 11px;
  outline: none;
}

.navbar button[type="submit"]:hover {
  background-color: #5cb85c; /* Change color on hover */
}

.navb-buttons {
  margin-left: 35%;
}
